html, body {
	height: 100%;
	width: 100%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}
header {
	display: flex;
	height: 10%;
	color: blue;
	font-size: 35px;
	background-color: #F7EFED;
	width: 100vw;
	align-items: center;
	justify-content: center;
}
main {
	background-color: #A6331C;
	flex: 1;
	width: 100vw;
}
#outer_main_div {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #4D2822;
	gap: 10px;

}
#upper_two_divs {
	flex: 8;
	display: flex;
	gap: 10px;
}

#link_to_commodity {
	flex: 2;
	width: 100%;
	background-color: #c0c0c0;
	padding: 10px;
}

#image_of_commodity,
#available_clip_of_same {
	flex: 1;
	background-color: white;
	padding: 10px;
}
footer {

	background-color: white;
	color: black;
}
