html, body {
	height: 100%;
	width: 100%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}
header {
	color: blue;
	font-size: 35px;
	background-color: grey;
}
main {
	background-color: #A6331C;
	flex: 1;
}
#main_outer_div {
	flex: 1;
	display: flex;
	background-color: #4D2822;
}

footer {

	background-color: white;
	color: black;
}
